# docker-compose.tunnel.yml
version: "3.9"
services:
  api:
    build: .
    env_file: .env
    restart: always
    volumes:
      - ./app/static:/app/app/static
      - ./weights:/app/weights
    expose:
      - "8000"

  cloudflared:
    image: cloudflare/cloudflared:latest
    restart: always
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN}
